<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mesajlar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap 5 CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/stylee.css">
  <link flex href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <script src="/scriptNavbar.js" defer></script>
  <link rel="stylesheet" href="/navbar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
  <style>
    body {
      background-position: center;
      background-color: rgba(255, 255, 255, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    footer {
      background-color: #555;
      color: white;
      padding: 15px;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    @media screen and (min-width: 800px) {
      body {
        margin-left: 88px;
        margin-right: 20px;
      }
    }

    @media screen and (max-width: 800px) {
      body {
        margin-top: 15px;
        margin-right: 20px;
        margin-left: 20px;
      }

      .sidenav {
        height: auto;
        padding: 15px;
      }

      .row.content {
        height: auto;
      }
    }

    * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
    }

    .chat-container {
      background-color: #2a2f32;
      border-radius: 10px;
      overflow: hidden;
      width: 100%;
      max-width: 600px;
      display: flex;
      flex-direction: column;
      height: 90vh;
      margin: auto;
    }

    .chat-header {
      padding: 10px;
      background-color: #333;
      color: white;
      text-align: left;
    }

    #messages {
      list-style-type: none;
      padding: 10px;
      flex-grow: 1;
      overflow-y: auto;
      margin: 0;
      display: flex;
      flex-direction: column;
    }

    #messages .message-group {
      margin-bottom: 20px;
    }

    #messages .date-header {
      text-align: right;
      color: #999;
      margin-bottom: 10px;
      width: 335px;
    }

    #messages li {
      padding: 10px 15px;
      margin: 10px 0;
      border-radius: 20px;
      max-width: 75%;
      word-wrap: break-word;
      position: relative;
    }

    #messages li.sent {
      align-self: flex-end;
      background-color: #dcf8c6;
    }

    #messages li.received {
      align-self: flex-start;
      background-color: #ffffff;
    }

    #messages .time {
      display: inline-block;
      margin-left: 10px;
      font-size: 0.8em;
      color: #555;
    }

    .chat-footer {
      display: flex;
      padding: 10px;
      background-color: #333;
      position: sticky;
      bottom: 0;
    }

    .chat-footer input {
      flex-grow: 1;
      border: none;
      padding: 10px;
      border-radius: 5px;
      margin-right: 10px;
    }

    .chat-footer button {
      background-color: #0a74da;
      border: none;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
    }

    /* Scrollbar genişliği ve yüksekliği */
    ::-webkit-scrollbar {
      width: 12px;
      height: 12px;
    }

    /* Scrollbar arka planı */
    ::-webkit-scrollbar-track {
      background: #2a2f32;
      border-radius: 10px;
    }

    /* Scrollbarın kendisi */
    ::-webkit-scrollbar-thumb {
      background-color: #DBF8C6;
      border-radius: 10px;
      border: 3px solid #2a2f32;
    }

    /* Hover yapıldığında scrollbar */
    ::-webkit-scrollbar-thumb:hover {
      background-color: #0a74da;
    }
  </style>
</head>

<body>
  <nav class="navbar flex phoneNavbar">
    <div class="container-fluid">
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row" style="z-index: 0;">
      <%- include('partial/sidebar') %>

      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-6 col-sm-8 col-xs-10">
            <div class="container mt-5">
              <div class="chat-container">
                <div class="chat-header">
                  <button class="btn btn-light" onclick="history.back()"><i class="fa fa-arrow-left"></i> Geri</button>
                  <h4 class="d-inline-block ms-3"><%= user_.name %> <%= user_.surname %></h4>
                </div>
                <ul id="messages">
                </ul>
                <div class="chat-footer">
                  <form id="messageForm" style="display: flex; width: 100%;">
                    <input id="recipient" type="hidden" name="recipientId" value="<%= user_._id %>">
                    <input id="messageInput" autocomplete="off" placeholder="Mesajınızı yazın..."><button>Gönder</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    const userId = '<%= currentUser._id %>';
    const recipientId = '<%= user_._id %>';
    const socket = io();

    // Mesajları yükle
    socket.emit('loadMessages', { userId, recipientId });

    socket.on('messages', (messages) => {
      const groupedMessages = groupMessagesByDate(messages);
      const messageList = document.getElementById('messages');
      messageList.innerHTML = '';
      Object.keys(groupedMessages).forEach(date => {
        const dateHeader = document.createElement('li');
        dateHeader.className = 'date-header';
        dateHeader.innerHTML = date;
        messageList.appendChild(dateHeader);

        groupedMessages[date].forEach(msg => {
          addMessageToList(msg);
        });
      });
    });

    // Sunucudan yeni mesaj geldiğinde mesajı ekle
    socket.on('newMessage', (msg) => {
      // Mesajın alıcıya mı yoksa göndericiye mi ait olduğunu kontrol et
      if (msg.sender._id !== userId) {
        addMessageToList(msg);
      }
    });

    function groupMessagesByDate(messages) {
      return messages.reduce((groups, message) => {
        const date = new Date(message.date).toLocaleDateString('tr-TR', {
          day: '2-digit',
          month: '2-digit',
          year: 'numeric'
        });
        if (!groups[date]) {
          groups[date] = [];
        }
        groups[date].push(message);
        return groups;
      }, {});
    }

    function addMessageToList(msg) {
      const messageList = document.getElementById('messages');
      const messageItem = document.createElement('li');
      messageItem.className = msg.sender._id === userId ? 'sent' : 'received';
      messageItem.innerHTML = `${msg.content} <span class="time">${new Date(msg.date).toLocaleTimeString('tr-TR', { hour: '2-digit', minute: '2-digit' })}</span>`;
      messageList.appendChild(messageItem);
      messageList.scrollTop = messageList.scrollHeight; // Mesaj listesinin sonuna kaydır
    }

    // Mesaj gönderme
    document.getElementById('messageForm').addEventListener('submit', function (event) {
      event.preventDefault();
      const content = document.getElementById('messageInput').value.trim();

      if (content === "") return;

      const message = {
        senderId: userId,
        recipientId: recipientId,
        content: content
      };

      socket.emit('sendMessage', message);

      document.getElementById('messageInput').value = '';

      // Gönderilen mesajı yalnızca göndericiye göster
      addMessageToList({
        sender: { _id: userId },
        content: content,
        date: new Date()
      });
    });
  </script>
</body>

</html>
