<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mesajlar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap 5 CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/stylee.css">
  <link flex href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <script src="/scriptNavbar.js" defer></script>
  <link rel="stylesheet" href="/navbar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
  <style>
    body {
      background-position: center;
      background-color: rgba(255, 255, 255, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    footer {
      background-color: #555;
      color: white;
      padding: 15px;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    @media screen and (min-width: 800px) {
      body {
        margin-left: 88px;
        margin-right: 20px;
      }
    }

    @media screen and (max-width: 800px) {
      body {
        margin-top: 15px;
        margin-right: 20px;
        margin-left: 20px;
      }

      .sidenav {
        height: auto;
        padding: 15px;
      }

      .row.content {
        height: auto;
      }
    }

    * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
    }

    .profile-header h2 {
      color: #495057;
    }

    .profile-header p {
      color: #6c757d;
    }

    .test-results h3 {
      color: #495057;
      margin-bottom: 20px;
    }

    .card {
      height: 12rem;
      cursor: pointer;
    }

    .card:hover {
      transition: none; /* Kartın hover durumunda herhangi bir geçiş efekti olmamasını sağlar */
    }

    .profile-info p {
      margin-bottom: 10px;
    }

    .exercise-img {
      border-radius: 10px 10px 0 0;
      width: 100%;
      height: auto;
    }

    .chat-container {
      background-color: #2a2f32;
      border-radius: 10px;
      overflow: hidden;
      width: 100%;
      max-width: 600px;
      display: flex;
      flex-direction: column;
      height: 90vh;
      margin: auto;
    }

    .chat-header {
      padding: 10px;
      background-color: #333;
      color: white;
      text-align: center;
      display: flex;
      align-items: center;
    }

    .chat-header h4 {
      margin: 0;
      flex-grow: 1;
      text-align: left;
    }

    .chat-header .back-button {
      margin-right: 10px;
      color: white;
      text-decoration: none;
    }

    #messages {
      list-style-type: none;
      padding: 10px;
      flex-grow: 1;
      overflow-y: auto;
      margin: 0;
      display: flex;
      flex-direction: column;
    }

    #messages li {
      padding: 10px 15px;
      margin: 10px 0;
      border-radius: 20px;
      max-width: 75%;
      word-wrap: break-word;
    }

    #messages li.sent {
      align-self: flex-end;
      background-color: #dcf8c6;
    }

    #messages li.received {
      align-self: flex-start;
      background-color: #ffffff;
    }

    .chat-footer {
      display: flex;
      padding: 10px;
      background-color: #333;
      position: sticky;
      bottom: 0;
    }

    .chat-footer input {
      flex-grow: 1;
      border: none;
      padding: 10px;
      border-radius: 5px;
      margin-right: 10px;
    }

    .chat-footer button {
      background-color: #0a74da;
      border: none;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
    }

    /* Scrollbar genişliği ve yüksekliği */
    ::-webkit-scrollbar {
      width: 12px; /* Dikey scrollbar için genişlik */
      height: 12px; /* Yatay scrollbar için yükseklik */
    }

    /* Scrollbar arka planı */
    ::-webkit-scrollbar-track {
      background: #2a2f32;
      border-radius: 10px;
    }

    /* Scrollbarın kendisi */
    ::-webkit-scrollbar-thumb {
      background-color: #DBF8C6; /* Scrollbarın rengi */
      border-radius: 10px;
      border: 3px solid #2a2f32; /* Scrollbarın etrafındaki boşluk rengi */
    }

    /* Hover yapıldığında scrollbar */
    ::-webkit-scrollbar-thumb:hover {
      background-color: #0a74da;
    }

  </style>
</head>

<body>
  <nav class="navbar flex phoneNavbar">
    <div class="container-fluid">
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row" style="z-index: 0;">
      <%- include('partial/sidebar') %>

      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-6 col-sm-5 col-xs-2">
            <div class="container mt-5">
                <div class="chat-container">
                    <div class="chat-header">
                      <a href="javascript:history.back()" class="back-button">
                        <i class="fas fa-arrow-left"></i>
                      </a>
                      <h4 class="ms-2"><%= user_.name %> <%= user_.surname %></h4>
                    </div>
                    <ul id="messages">
                      <% messages.forEach(message => { %>
                        <li class="<%= message.sender._id.equals(currentUser._id) ? 'sent' : 'received' %>">
                          <%= message.content %>
                        </li>
                      <% }) %>
                    </ul>   
                    <div class="chat-footer">
                      <form id="messageForm" style="display: flex; width: 100%;">
                        <input id="recipient" type="hidden" name="recipientId" value="<%= user_._id %>">
                        <input id="messageInput" autocomplete="off" placeholder="Mesajınızı yazın..."><button>Gönder</button>
                      </form>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const userId = '<%= currentUser._id %>';
      const recipientId = '<%= user_._id %>';

      // Mesajları yükle
      async function loadMessages(scroll = false) {
        const response = await fetch(`/api/messages/${userId}/${recipientId}`);
        const messages = await response.json();

        const messageList = document.getElementById('messages');
        const shouldScroll = messageList.scrollTop + messageList.clientHeight === messageList.scrollHeight;
        
        messageList.innerHTML = '';
        messages.forEach(msg => {
          const messageItem = document.createElement('li');
          messageItem.className = msg.sender._id === userId ? 'sent' : 'received';
          messageItem.innerHTML = `${msg.content}`;
          messageList.appendChild(messageItem);
        });

        // Mesaj listesinin sonuna kaydır
        if (scroll || shouldScroll) {
          messageList.scrollTop = messageList.scrollHeight;
        }
      }

      loadMessages(true);

      // Mesaj gönderme
      document.getElementById('messageForm').addEventListener('submit', async function (event) {
        event.preventDefault();
        const content = document.getElementById('messageInput').value;

        const message = {
          senderId: userId,
          recipientId: recipientId,
          content: content
        };

        await fetch('/api/messages', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(message)
        });

        document.getElementById('messageInput').value = '';
        loadMessages(true); // Mesaj gönderildiğinde en alta kaydır
      });

      // Mesajları belirli aralıklarla yenile
      setInterval(() => loadMessages(false), 1000); // Her saniyede bir mesajları yenile
    });
  </script>
</body>

</html>
